<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class='body-area'>
    <header class='main-heading -center' role='banner'>
      <h1 class='h1'> <%= post.title %> <em><%= post.excerpt %></em></h1>
    </header>
  
    <% if (post.excerpt){ %>
      <div class='intro-content MarkdownBody -wrapified'>
        <%= page.intro | markdownify %>
      </div>
      <% } %>
  
    <main class='post-content MarkdownBody' data-js-main-body data-js-anchors role='main'>
      <%- post.content %>
    </main>
  </div>
  
  <div class='pre-footer' data-js-no-preview><i class='icon'></i></div>
    
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>